<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card class="container">
    <ion-img src="assets/img/logo.png"></ion-img>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Iniciar Sesión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-input
            label="Nombre de usuario:"
            label-placement="floating"
            formControlName="username"
            required="true"
          ></ion-input>
        </ion-item>
        @if (controls.username.hasError('required') &&
        controls.username.touched) {
        <ion-text color="danger"> El usuario es obligatorio! </ion-text>
        }
        <ion-item>
          <ion-input
            label-placement="floating"
            label="Contraseña:"
            type="password"
            formControlName="password"
            required="true"
          ></ion-input>
        </ion-item>
        @if (controls.password.hasError('required') &&
        controls.password.touched) {
        <ion-text color="danger"> La contraseña es obligatorio! </ion-text>
        }
        <ion-button
          class="ion-margin"
          expand="block"
          type="submit"
          [disabled]="loginForm.invalid"
          >Iniciar Sesión</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
