<ion-header> </ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card class="container">
    <ion-img src="assets/img/logo.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Iniciar Sesión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-input
            label="Nombre de usuario:"
            label-placement="floating"
            formControlName="user"
          ></ion-input>
          <ion-text
            color="danger"
            *ngIf="controls.user.hasError('requiered') && controls.user.touched"
          >
            El usuario es obligatorio!
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-input
            label-placement="floating"
            label="Contraseña:"
            type="password"
            formControlName="password"
          ></ion-input>
          <ion-text
            color="danger"
            *ngIf="controls.password.hasError('requiered') && controls.password.touched"
          >
            La contraseña es obligatorio!
          </ion-text>
        </ion-item>
        <ion-button
          class="ion-margin"
          expand="block"
          type="submit"
          [disabled]="loginForm.invalid"
          >Iniciar Sesión</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
